<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<property name="HOME" value="/var/usr/log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${HOME}/ms-token-proxy.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="ASYNC500" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>500</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="STDOUT" />
	</appender>

	<logger name="ch.qos.logback" level="WARN" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>

	<logger name="org.mortbay.log" level="WARN" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>
	
	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>

	<logger name="org.springframework.beans" level="WARN"
		additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>
	
	<logger name="org.springframework.security" level="INFO" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>
	
	<logger name="org.springframework.security.oauth2" level="DEBUG" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>	

	<logger name="mx.com.gentera.ms.tokenproxy" level="DEBUG" additivity="false">
		<appender-ref ref="ASYNC500" />
	</logger>

	<root level="INFO">
		<appender-ref ref="ASYNC500" />
	</root>
</configuration>
